.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    /* background: #45005a; */
    color: #323232;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header-sub-content {
    display: flex;
    align-items: center;
    gap: 30px;
}
